/* Tag CSS */
body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

label {
  font-size: 15px;
  font-weight: 700;
}

main {
  min-height: 80vh;
}

section {
  height: 60vh back;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding: 48px;
  flex-direction: column;
  gap: 16px;
  margin-inline: 315px;
  margin-top: 100px;
}

/* Class CSS */
.ContactField {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ContactSubmitButton {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #ff0058;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 8px;
}

/* ID CSS */
#InputField {
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  background: #fff;
  padding-inline: 8px;
}
