.BlackHeader {
  background-color: black;
}

.BlueHeader {
  background-color: #0093ff;
}

.ColorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.ContactUsHeader {
  padding: 177px 128px 20px;
}

.DividerBlack {
  border: 1px solid black;
}

.HeaderText {
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.HeaderTextBlack {
  color: black;
}

.HeaderSubtext {
  color: white;
  font-size: 24px;
  margin: 24px auto auto auto;
}

.HomeHeader {
  background: url(../img/HomeBanner.png) no-repeat center top;
  background-size: cover;
  padding: 150px 128px 148px;
}

.HomeHeaderButton {
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: black;
}

.HomeHeaderButtonsWrapper {
  display: flex;
  margin-top: 36px;
  gap: 18px;
}

.HomeHeaderPinkButton {
  background-color: #ff0058;
  font-weight: 700;
}

.HomeHeaderSubtext {
  font-size: 32px;
  color: white;
  margin-top: 24px;
}

.HomeHeaderWhiteButton {
  background-color: white;
}

.PinkHeader {
  background-color: #ff0058;
}

.YellowHeader {
  background-color: #ffd000;
}

.Header {
  margin: auto;
}

.HeaderDivider {
  width: 1024px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.HeaderPlain {
  width: 1024px;
}
