.NavLogoWrapper {
  display: flex;
  text-align: center;
  gap: 10px;
}

.NavLogoTitle {
  font-size: 20px;
}

.NavLinksWrapper {
  width: 542px;
  display: flex;
  flex-direction: row;
}

.NavContentWrapper {
  height: 24px;
  justify-content: space-between;
}

.NavLink {
  font-size: 16px;
  text-decoration-line: underline;
}

.NavText {
  font-weight: 700;
  color: white;
  line-height: 24px;
}

.NavLink:hover {
  color: gray;
  text-decoration-line: none;
}
