.NavLogoWrapper {
  display: flex;
  text-align: center;
  gap: 10px;
}

.NavLogoTitle {
  font-size: 20px;
}

.NavLinksWrapper {
  width: 542px;
  display: flex;
  flex-direction: row;
}

.NavContentWrapper {
  height: 24px;
  justify-content: space-between;
}

.NavLink {
  font-size: 16px;
  text-decoration-line: underline;
}

.MenuToggle {
  display: none;
  background-color: black;
}

.NavText {
  font-weight: 700;
  color: white;
  line-height: 24px;
}

.NavLink:hover {
  color: gray;
  text-decoration-line: none;
}

@media (max-width: 925px) {
  .NavContainer {
    padding-inline: 16px;
  }
}

@media screen and (max-width: 600px) {
  .NavContainer {
    position: relative;
  }

  .NavLinksWrapper {
    height: 250px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .MenuToggle {
    display: block;
    cursor: pointer;
    border: none;
    padding: 10px;
  }
}
