/* Class CSS */
.Service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 76px;
}

.ServiceImage {
  border-radius: 6px;
  width: 70%;
  height: 70%;
}

.ServiceTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ServiceTitle {
  font-size: 20px;
  font-weight: 700;
}

.ServiceDescription {
  font-size: 16px;
}

/* ID CSS*/
#ServicesBody {
  display: flex;
  flex-direction: column;
  gap: 89px;
  padding: 73px 128px;
}
